<div *ngIf="!dataLoaded; else page" class="lead">
    <p>Please wait while student data is loaded...</p>
</div>

<ng-template #page>
    <div class="text-left">
        <h2>Student Management</h2>
        <div class="lead" *ngIf="studentData.length < 1; else dataExists">
        <p>No student data available, you can enrol a new student on the 'Enrol Student' tab.</p>
        </div>

        <ng-template #dataExists>
            <div class="my-3" (click)="openManagementDialog(student)" *ngFor="let student of sizedData">
                <div class="d-flex justify-content-between studentCard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="48" class="mt-1 ml-4" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                    <div class="d-flex flex-column">
                        <h5>Name</h5>
                        <p>{{ student.studentName }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <h5>Student ID</h5>
                        <p>{{ student.studentId }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <h5>Class Code</h5>
                        <p>{{ student.classCode }}</p>
                    </div>
                    <div class="text-right pr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="44" class="mt-1" viewBox="0 0 320 512">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                        </svg>
                    </div>
                </div>
            </div>

            <mat-paginator (page)="updatePage($event)" [length]="this.studentData.length" [pageSize]="this.pageSize"></mat-paginator>
        </ng-template>
    </div>
</ng-template>